APP_URL=https://monitor-test.schollinetz.com
WEB_PORT=8082
MEDIAMTX_ICE_PORT=8190
MEDIAMTX_WEBRTC_LOCAL_UDP_ADDRESS=:8190
MEDIAMTX_WEBRTC_LOCAL_TCP_ADDRESS=:8190

DB_DATABASE=bigbrotha
DB_USERNAME=bigbrotha
DB_PASSWORD=bigbrotha

CAMERA_RECORDING_WORKER_PROCESSES=1

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://monitor-test.schollinetz.com/auth/google/callback